.row
  .col-xs-4.col-xs-offset-4
    h1 Discover
    input.form-control(type='text', ng-model='location', placeholder='city, state, region, etc') 
    button.btn.btn-info.btn-lg.center-block(ng-click='findLocation(location)') Discover
    
